.img {
  position: relative;
  overflow: hidden;

  &.risky {
    box-shadow: 0 0 6px 2px #F2ABAB;
  }
}

.placeholder {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--theme-background-secondary);
  opacity: 1;
  transition: opacity 0.3s;

  &.loaded {
    opacity: 0;
  }
}

.placeholder-icon {
  width: 21px;
  height: 21px;
}

.placeholder-text {
  margin-top: 7px;
  font-size: 12px;
  color: #b2b2b2;
}

.image-small {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;

  &.loaded-small {
    opacity: 1;
  }
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;

  &.loaded {
    opacity: 1;
  }

  &.loaded-small {
    transition: none;
  }
}

.progress {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.progress-loading {
  width: 38px;
  height: 38px;
  animation: loading 1s linear infinite;
}

.progress-text {
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.progress-error {
  width: 38px;
  height: 38px;
}

.del {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 18px;
  height: 18px;
}
