.editor {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 0;
  border-bottom: env(safe-area-inset-bottom) solid #f5f6f8;
}

.editor-content {
  height: 100%;
  padding: 0 28px;
}
