.paff {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex-shrink: 0;
  transition: opacity 0.3s;

  .focusing & {
    transition: none;
    opacity: 0;
  }
}

.editor {
  flex-grow: 1;
  height: fit-content;
}

.editor-bottom {
  flex-shrink: 0;
}

.safe-area-bottom {
  background: #f5f6f8;
}

.ql-editor {
  padding: 0 28px!important;

  font-size: 15.6px;
  line-height: 25.3px;
  color: #353535;
  text-align: justify;

  overflow-wrap: break-word;
  white-space: break-spaces;
}

.ql-editor.ql-blank::before {
  /* 此处设置 placeholder 样式 */
  color: #B2B2B2;
  font-style: normal;
}
