.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 40px;
  margin: 0 auto;

  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

  margin-top: 30px;
  background: #CC5656;
  color: #fff;
}
