.paff {
  position: relative;
  width: 100%;
  height: 150px;
  background: pink;
  font-size: 16px;
  font-family: MiSans,"Helvetica Neue","Segoe UI",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji",system-ui;
  line-height: 25.6px;
  color: #222;
}

.cursor {
  position: absolute;
  display: flex;
  width: 2px;
  padding-top: 4px;
  transform: translateX(-50%);
  overflow: hidden;
}

.cursor-composition {
  width: 1px;
  transform: translateX(-50%);
}

.cursor-line {
  flex-shrink: 0;
  width: 2px;
  height: 18px;
  background: #1456f0;
  animation: blink 1s infinite;
}

.underline {
  text-decoration-line: underline;
}

//  光标闪烁动画
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.intro {
  font-size: 14px;
  padding: 10px;
}

// .input {
//   background: skyblue;
// }

.button-container {
  display: flex;
  flex-wrap: wrap;
}

.button {
  padding: 10px;
  margin: 10px;
  background: #ececec;
  border-radius: 3px;
  font-size: 14px;
}


