.ql-container {
  box-sizing: border-box;
  padding: 20px 28px;
  border-top: 1px solid #ececec;
  // background: pink;

  font-size: 16px;
  line-height: 1.6;
  color: #353535;

  caret-color: #CC5656;
}
