.row {
  display: flex;
}

.button {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 40px;
  border-radius: 20px;
  padding: 0 10px;
  margin: 10px;
  background: #CC5656;
  color: #fff;
}

.box {
  position: relative;
  height: 100vh;
  background: powderblue;
}

.text {
  line-height: 2;
}

.textarea {
  position: absolute;
  left: -100%;
  top: 0;
  width: 200%;
  height: 100%;
  opacity: 0;
}

.toolbar {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 50px;
  background: #ececec;
}
