.paff {
  position: relative;
  width: 100%;
  height: 150px;
  background: pink;
}

.cursor {
  position: absolute;
  display: flex;
  width: 1px;
  height: 16px;
  overflow: hidden;
}

.cursor-line {
  flex-shrink: 0;
  width: 1px;
  height: 16px;
  background: #333;
  animation: blink 1s infinite;
}

//  光标闪烁动画
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.input {
  background: skyblue;
}


