.tool-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 50px;
  padding: 0 20px;
  background: #ececec;
}

.tool-bar-placeholder {
  background: #ececec;
}

.slider {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  width: 0;
  height: 100%;
}

.item {
  position: relative;
  flex-shrink: 0;
  width: 21px;
  height: 21px;
  margin-right: 21px;
  color: #999;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &.hide {
    display: none;
  }

  &.item-xiao-hong-shu {
    width: 46px;
    height: 16px;
  }

  &.item-expand-active {
    width: 36px;
    height: 36px;
    padding: 7.5px;
    margin-left: -7.5px;
    margin-right: 13.5px; // 21 - 7.5
    border-radius: 8px;
    background: #E4E6EB;
  }
}

.item-icon {
  width: 100%;
  height: 100%;
}

.save {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 32px;
  margin-left: 18px;
  border-radius: 16px;
  color: #fff;
  background: #CC5656;
  cursor: pointer;
}

.save-icon {
  width: 16px;
  height: 16px;
}

