.tool-bar {
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 50px;

  border-top: 0.5px solid #ddd;
  background: #f5f6f8;
  transform: translateY(0);
}

.item {
  margin: 0 10px;
  white-space: nowrap;
}
